:root {
    --roboto: 'Arial';
    --white: white;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.leftbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: red;
    width: 20%;
    height: 100%;
    margin-right: 50px;
}

.navbar__items-logo {
    font-family: var(--roboto);
    text-transform: uppercase;
    padding-left: 50px;
    color: var(--white);
}

.navbar__items-text {
    height: 30px;
    font-family: var(--roboto);
    text-transform: capitalize;
    padding-left: 50px;
    color: var(--white);
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

a:active {
    border-left: 2px solid white;
    padding-left: 48px;
}

.navbar__items-image {
    width: 100%;
}

.section {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    overflow-y: scroll;
}

.search {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    margin-top: 20px;
}

.search__input {
    font-family: var(--roboto);
    height: 40px;
    padding-left: 10px;
    width: 60%;
}

.control-buttons__icons {
    color: grey;
    cursor: pointer;
    margin-right: 10px;
}

.control-buttons__icons:hover {
    color: red;
}

.control-buttons__button {
    height: 33px;
    width: 75px;
    border-style: none;
    background-color: red;
    margin-right: 20px;
    color: var(--white);
    font-family: var(--roboto);
    margin-left: 20px;
    cursor: pointer;
}

.chart-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 60%;
    margin-top: 5%;
    margin-bottom: 1%;
    border-bottom: solid 1px grey;
}

.chart-menu__items-button {
    background-color: inherit;
    border-style: none;
    font-family: var(--roboto);
    color: red;
    font-size: larger;
    padding-bottom: 3px;
    outline: none;
}

.chart-menu__items-button:active{
    box-shadow: 0px 5px 0px;
}

.chart {
    display: flex;
    flex-direction: column;
}

.chart-row {
    display: flex;
    flex-direction: row;
}

.chart-card {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    margin-right: 40px;
    margin-bottom: 40px;
}

.chart-card__image {
    width: 100%;
}

.section__items-title {
    font-family: var(--roboto);
}

.section__items-text {
    font-family: var(--roboto);
    color:grey;
    font-size: 12px;
    margin: 0;
}

.section__items-btnmore {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: none;
    background-color: red;
    color: white;
    font-family: var(--roboto);
    margin-top: 50px;
    height: 50px;
    width: 200px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
}

.section__items-chart--text {
    font-family: var(--roboto);
    margin-bottom: 0px;
}

.section__items-chart-song {
    font-family: var(--roboto);
    margin-top: 0px;
}

.info-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.section__items-info {
    font-family: var(--roboto);
}

.player-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
    height: 10%;
}

.progress {
    position: absolute;
    width: 20%;
    background-color: rgba(255, 255, 255, 0.1);
    border: 0;
    height: 1%;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}